/* import the normalize stylesheet to eliminate differences between browser defaults */
@import url(../lib/normalize.css);

/* import the Google font 'Lato' */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic);

/*
    things we will practice in this example
    - element selectors
    - group selectors
    - class selectors
    - descendant selectors
    - hover and focus pseudo-selectors (for styling hyperlinks)
    - margins and padding
    - borders
*/

body {
 font-size : 18px;
 font-family : Lato, Helvetica, sans-serif;
 }

 h1, h2 {
    font-weight: 300;
 }

 .subtitle {
    font-size: 200%;
    font-weight: 300;
 }

 .term {
    font-style: italic;
 }

 a {
    text-decoration: none;
 }

 a:hover, a:focus {
text-decoration: underline;
 }

footer {
    background-color: #333;
    color: #FFF;

}
footer a{
    color:#ddf;
}
footer a:hover {
    color: red;
}

header{
    background-color: #ddd;
    padding-left: 1em;
    padding-right: 1em;
    }

header h1{
    margin-top: 0;
}

footer { 
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-style: ridge;
    border-color: red;
    text-align: center;
}